<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title> document </title>
</head>
<body>
    <%- include('./partials/nav') %>    

    <div class = 'container mt-3'>
        <form method="post" action="/blog/edit/<%= blog._id %>" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label"> TITLE </label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="title" value="<%= blog.title%>">
            </div>
            <div class="mb-3">
                <label>CURRENT COVER IMAGE</label><br>
                <img
                    src="<%= blog.coverImage %>"
                    alt="coverImage"
                    width="250"
                    style="border-radius:8px; margin-bottom:10px;"
                >
                <br>
                <label for="coverImage" class="form-label"> NEW COVER IMAGE </label>
                <input type="file" class="form-control" id="coverImage" name="coverImage" accept="image/*">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label"> CONTENT </label>
                <textarea class="form-control" id="content" name="content" rows="6"> <%= blog.content %> </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <%- include('./partials/scripts') %>
</body>
</html>